{% extends 'base.html.twig' %}

{% block body %}
<h1>! Paiement valid"é </h1>

{% endblock %}                                                                                                                                  